name: Run Tests
on: [push, pull_request]
jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    strategy:
      # You can use PyPy versions in python-version.
      # For example, pypy2 and pypy3
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.5, 3.6, 3.7, 3.8]

    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run Pytest
        run: |
          pip install pytest pytest-cov
          pytest --cov --cov-fail-under=100

      - name: Coverage
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: true # optional (default = false)

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: htmlcov
